{% extends 'base.html.twig' %}

{% block title %}New Todo{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6">Create New Todo</h1>

        {{ include('todo/_form.html.twig') }}

        <div class="mt-6">
            <a href="{{ path('app_todo_index') }}" class="text-blue-500 hover:text-blue-700">Back to list</a>
        </div>
    </div>
{% endblock %}
